doctype html
html(lang="zh-Hant-TW")
  head
    include _template/head.pug
    title 資料庫使用規範-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          h1
            a(href="#" title="回首頁") 史語所檔案館館藏資料庫
      = '\n'

      main#container
        #box_short
          #box_shortmain
            #short_left.bg_god
              h3 資料庫版權頁聲明
              p Terms of use
                br
                span 凃寬裕攝影師作品
            #short_right
              .main_info
                p 歡迎進入史語所檔案館館藏資料庫
                  span.text_en
                    |Welcome to and thank you for showing interest in the Databases of the Institute of History and Philology (IHP) Archives.
                ul
                  li 本館館藏資料可供個人、學術研究與非商業目的使用，請遵守本所檔案閱覽、調閱與複印規則，以及檔案法、著作權法與個人資訊管理法等現行法律規範。引用時，請註明出處。
                    span.text_en
                     |The materials possessed by IHP Archives collections are intended for personal, academic research, and non-commercial use. Users are required to abide by all rules and regulations for viewing, accessing, and copying or reproducing any materials, as well as complying with all related archival, copyright, personal information management, and other laws and regulations. When citing IHP Archives collection materials, users also agree to credit the IHP Archives within an appropriate citation.
                  li 請勿擅自重製、改作、編輯、出版或公開傳輸本館館藏檔案。使用者若有違反規定，本館有權暫停或終止相關服務。
                    span.text_en
                      |Please do not reproduce, alter, edit, publish, or publicly transmit IHP Archives collection materials without receiving prior consent. The IHP Archives reserves the right to suspend or terminate services to any user in violation of these rules and regulations.
                  li 本資料庫登錄的個人訊息僅作管理與提升服務上之利用。
                    span.text_en
                      |The personal information used to register for access to the Databases of the IHP Archives will only be used for the purposes of managing and improving our services.
                  li 若有任何使用上的疑慮，請隨時與我們聯繫：
                    span.text_en
                      |For any questions or concerns, please contact us at any time：
                      a(href="mailto:archives@mail.ihp.sinica.edu.tw") archives@mail.ihp.sinica.edu.tw
                p 同意上述規範，請按「同意」進入資料庫。
                  span.text_en
                    |If you agree to the above rules and regulations, please press “Agree” to enter the Databases.
              a.mybtn.btn-l.btn_active(href="index.html") 同意 Yes, I Agree
    = '\n'
    footer
        include _template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="js/script.js")