doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 大盆兒胡同-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    include ../_template/screenblock.pug

    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page.pug
      = '\n'

      main#container-page
        #bar_title
          .left_title
            h2 徵集檔案
          .right_title
            input#selectPage(type='checkbox', name='selectItem', value='本頁全選')
            label(for='selectPage') 本頁全選
            input.mybtn_select.btn_send(type='button', value='已選擇輸出（99）', onclick="location.href='../collection/export.html'")
        = '\n'

        aside#aside
          #box_search
            h3 指定範圍搜尋
            form(action='#', method='post')
              input#anytext.myinput(name='anytext', type='text', title='不限欄位', placeholder='不限欄位，請輸入關鍵字查詢')
              details#box_check(open)
                summary 限定全宗範圍：(不勾選表全部，可複選)
                ul
                  li
                    input#dd-01(type='checkbox', name='sb', value='陳寶鈞京師大學堂檔案')
                    label(for='dd-01') 陳寶鈞京師大學堂檔案
                  li
                    input#dd-02(type='checkbox', name='sb', value='谷蘭瀅女士家藏契約文書')
                    label(for='dd-02') 谷蘭瀅女士家藏契約文書
              .formbtn
                input.mybtn.btn_reset.btn-s(type='reset', value='清除')
                input.mybtn.btn_send.btn-s(type='button', value='搜尋', onclick="location.href='#'")
          #box_subnav.subnav-02
            details
              summary 陳寶鈞京師大學堂檔案 #[span 999]
              ul
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業證書（光緒三十三年十二月）') 陳寶鈞京師大學堂脩業證書（光緒三十三年十二月）
                  span 999
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業證書（光緒三十四年六月）') 陳寶鈞京師大學堂脩業證書（光緒三十四年六月）
                  span 999
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業文憑（光緒三十四年十二月）') 陳寶鈞京師大學堂脩業文憑（光緒三十四年十二月）
                  span 999
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業文憑（宣統元年五月）') 陳寶鈞京師大學堂脩業文憑（宣統元年五月）
                  span 999
                li
                  a(href='#', title='陳寶鈞京師大學堂畢業文憑（宣統元年五月二十七日）') 陳寶鈞京師大學堂畢業文憑（宣統元年五月二十七日）
                  span 999
            = '\n'
            // 在該單元時，加入open讓折疊選單打開
            details(open)
              summary 谷蘭瀅女士家藏契約文書 #[span 9999]
              ul
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 999
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 999
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 999
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999
        = '\n'

        section#pagemain
          h3 大盆兒胡同
          #list_option
            form(action='#', method='post')
              label 案卷：
              select.myinput
                option ---------------------
              label 排序：
              select.myinput
                option 按時間排序
                option 有數位影像優先
              input.mybtn.btn_send.btn-s(type='button', value='篩選')


    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")