doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 大盆兒胡同-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page.pug
      = '\n'

      main#container-page
        #bar_title
          .left_title
            h2 徵集檔案
          .right_title
            input.mybtn_select.btn_white(type='button', value='加入收藏')
            input.mybtn_select.btn_send(type='button', value='匯出收藏清單(99)', onclick="location.href='../collection/export.html'")
        = '\n'

        aside#aside
          #box_search
            h3 指定範圍搜尋
            form(action='#', method='post')
              input#anytext.myinput(name='anytext', type='text', title='不限欄位', placeholder='不限欄位，請輸入關鍵字查詢')
              details#box_check(open)
                summary 限定全宗範圍：(不勾選表全部，可複選)
                ul
                  li
                    input#dd-01(type='checkbox', name='sb', value='陳寶鈞京師大學堂檔案')
                    label(for='dd-01') 陳寶鈞京師大學堂檔案
                  li
                    input#dd-02(type='checkbox', name='sb', value='谷蘭瀅女士家藏契約文書')
                    label(for='dd-02') 谷蘭瀅女士家藏契約文書
              .formbtn
                input.mybtn.btn_reset.btn-s(type='reset', value='清除')
                input.mybtn.btn_send.btn-s(type='botton', value='搜尋', onclick="location.href='file-range.html'")
          #box_subnav.subnav-02
            details
              summary 陳寶鈞京師大學堂檔案 #[span 999+]
              ul
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業證書（光緒三十三年十二月）') 陳寶鈞京師大學堂脩業證書（光緒三十三年十二月）
                  span 999+
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業證書（光緒三十四年六月）') 陳寶鈞京師大學堂脩業證書（光緒三十四年六月）
                  span 999+
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業文憑（光緒三十四年十二月）') 陳寶鈞京師大學堂脩業文憑（光緒三十四年十二月）
                  span 999+
                li
                  a(href='#', title='陳寶鈞京師大學堂脩業文憑（宣統元年五月）') 陳寶鈞京師大學堂脩業文憑（宣統元年五月）
                  span 999+
                li
                  a(href='#', title='陳寶鈞京師大學堂畢業文憑（宣統元年五月二十七日）') 陳寶鈞京師大學堂畢業文憑（宣統元年五月二十七日）
                  span 999+
            = '\n'
            // 在該單元時，加入open讓折疊選單打開
            details(open)
              summary 谷蘭瀅女士家藏契約文書 #[span 999+]
              ul
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 99
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999+
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 999+
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999+
                li
                  a(href='file-list.html', title='大盆兒胡同') 大盆兒胡同
                  span 999+
                li
                  a(href='#', title='通縣') 通縣
                  span 99
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='繩子庫胡同') 繩子庫胡同
                  span 999+
                li
                  a(href='#', title='個人證件文書') 個人證件文書
                  span 999+
        = '\n'

        section#pagemain
          h3 大盆兒胡同
          #list_option
            form(action='#', method='post')
              label 案卷：
              select.myinput
                option ---------------------
            form(action='#', method='post')
              label 排序：
              select.myinput
                option 按檔號排序
                  option 按時間排序
                  option 按檔案主題排序
                  option 有數位影像優先
              label 每頁
              select.myinput
                option 10
                option 20
                option 30
                option 50
                option 100
              |筆
              input.mybtn.btn_send.btn-s(type='button', value='重新排序')
          = '\n'
          table#mytable1.mytable(summary='列表')
            thead
              tr
                th
                  input#all.all(type='checkbox', name='all') 
                  label 全選
                th 檔號
                th 時間
                th 題名
                th 摘要說明
            tbody
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='1')
                  label(for='selecttd') 1.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 乾隆二十四年
                td.td_title 乾隆二十四年關成典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='2')
                  label(for='selecttd') 2.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 乾隆三十九年
                td.td_title 乾隆三十九年長春典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='3')
                  label(for='selecttd') 3.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 乾隆五十二年
                td.td_title 乾隆五十二年德克錦額典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='4')
                  label(for='selecttd') 4.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 嘉慶六年
                td.td_title 嘉慶六年郭洪吉典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='5')
                  label(for='selecttd') 5.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 嘉慶九年
                td.td_title 嘉慶九年寧文氣典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='6')
                  label(for='selecttd') 6.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 嘉慶十二年
                td.td_title 嘉慶十二年西隆阿典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='7')
                  label(for='selecttd') 7.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 嘉慶二十四年
                td.td_title 嘉慶二十四年巴栢典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='8')
                  label(for='selecttd') 8.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 道光二十年
                td.td_title 道光二十年李廣興老典房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='9')
                  label(for='selecttd') 9.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 咸豐十年
                td.td_title 咸豐十年富英仝妻富門李氏賣房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
              tr
                td.td_no
                  input#selecttd(type='checkbox', name='tdItem', value='10')
                  label(for='selecttd') 10.
                td.td_fileno
                  a(href='file-details.html' title='11012011002') 11012011002
                td.td_time 同治十年
                td.td_title 同治十年李山賣房契
                td.td_info 摘要說明摘要說明摘要說明摘要說明
          = '\n'
          .page_option
            #page-number
              label(for='list-page') 位於第
              select.myselect(name='list-page')
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
              |頁/8頁，共有80筆資料
            #page-btn-left
              a.mybtn.btn-s.btn_disable(href='#', title='上一頁') 上一頁
            #page-btn-right
              a.mybtn.btn-s.btn_white(href='#', title='下一頁') 下一頁

    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")