doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 搜尋結果-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    include ../_template/screenblock.pug

    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page.pug
      = '\n'

      main#container-page
        #bar_title
          .left_title
            h2 搜尋結果
          .right_title
            input.mybtn_select.btn_white(type='button', value='加入收藏')
            input.mybtn_select.btn_send(type='button', value='匯出收藏清單(99)', onclick="location.href='../collection/export.html'")
        = '\n'

        aside#aside
          #box_search
            h3 搜尋條件
            ul.search-Condition
              li
                span 檔案類型:
                | 徵集檔案
              li
                span 關鍵字:
                | 乾隆 嘉慶 道光 咸豐 同治
              // <li><span>(AND) 關鍵字:</span>XXX</li>
              // <li>(NOT) 摘要:</span>XXXXXXXX</li>
              li
                input#dd-01(type='checkbox', name='sb', value='異體字' checked)
                label(for='dd-01') 異體字（例如：煙=烟）
              li
                input#dd-02(type='checkbox', name='sb', value='異體字' checked)
                label(for='dd-02') 同義詞（例如：傅斯年=孟真）
            .formbtn
              input.mybtn.btn_send.btn-s(type='button', value='重新搜尋', onclick="location.href='search.html'")
          = '\n'
          #box_subnav.subnav-03
            ul
              //切換到該類別時，增加.nowin
              li
                  a.nowin(href='#', title='全部檔案類型') 全部檔案類型
                  |#[span 655]
              li
                a(href='#', title='史語所行政檔案') 史語所行政檔案
                |#[span 567]
              li
                a(href='#', title='史語所研究員檔案') 史語所研究員檔案
                |#[span 0]
              li
                a(href='#', title='徵集檔案') 徵集檔案
                |#[span 88]
              li
                a(href='#', title='影音檔案') 影音檔案
                |#[span 0]
        = '\n'

        section#pagemain
          h3 搜尋結果
          // 沒有搜尋結果的標語
          //#box_emptyinfo
            h4 搜尋結果 0 筆
          = '\n'
          //沒有項目時，box_page可以整個隱藏
          #box_page
            #list_option
              form(action='#', method='post')
                label 排序：
                select.myinput
                  option 按檔號排序
                  option 按時間排序
                  option 按檔案主題排序
                  option 有數位影像優先
                label 每頁
                select.myinput
                  option 10
                  option 20
                  option 30
                  option 50
                  option 100
                |筆
                input.mybtn.btn_send.btn-s(type='button', value='重新排序')
            = '\n'
            table#mytable2.mytable(summary='列表')
              thead
                tr
                  th
                    input#all.all(type='checkbox', name='all') 
                    label 全選
                  th 檔號
                  th 檔案類型
                  th 時間
                  th 題名
              tbody
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='1')
                    label(for='selecttd') 1.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 乾隆
                    |二十四年
                  td.td_title
                    mark 乾隆
                    |二十四年關成典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='2')
                    label(for='selecttd') 2.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 乾隆
                    |三十九年
                  td.td_title
                    mark 乾隆
                    |三十九年長春典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='3')
                    label(for='selecttd') 3.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 乾隆
                    |五十二年
                  td.td_title
                    mark 乾隆
                    |五十二年德克錦額典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='4')
                    label(for='selecttd') 4.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 嘉慶
                    |六年
                  td.td_title
                    mark 嘉慶
                    |六年郭洪吉典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='5')
                    label(for='selecttd') 5.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 嘉慶
                    |九年
                  td.td_title
                    mark 嘉慶
                    |九年寧文氣典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='6')
                    label(for='selecttd') 6.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 嘉慶
                    |十二年
                  td.td_title
                    mark 嘉慶
                    |十二年西隆阿典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='7')
                    label(for='selecttd') 7.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 嘉慶
                    |二十四年
                  td.td_title
                    mark 嘉慶
                    |二十四年巴栢典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='8')
                    label(for='selecttd') 8.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 道光
                    |二十年
                  td.td_title
                    mark 道光
                    |二十年李廣興老典房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='9')
                    label(for='selecttd') 9.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 咸豐
                    |十年
                  td.td_title
                    mark 咸豐
                    |十年富英仝妻富門李氏賣房契
                tr
                  td.td_no
                    input#selecttd(type='checkbox', name='tdItem', value='10')
                    label(for='selecttd') 10.
                  td.td_fileno
                    a(href='file-details.html' title='11012011002') 11012011002
                  td 徵集檔案
                  td.td_time
                    mark 同治
                    |十年
                  td.td_title
                    mark 同治
                    |十年李山賣房契
            = '\n'

            .page_option
              #page-number
                label(for='list-page') 位於第
                select.myselect(name='list-page')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                |頁/8頁，共有80筆資料
              #page-btn-left
                a.mybtn.btn-s.btn_disable(href='#', title='上一頁') 上一頁
              #page-btn-right
                a.mybtn.btn-s.btn_white(href='#', title='下一頁') 下一頁
    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")