@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    SMayfaire International Official website
* @Author     Tachimoma <hello@xuedesign.tw>
* @copyright  2020 xuedesign studio
* @version    v2021-11
*
**/

/*
=====================================
首頁
=====================================
*/
/*頁籤切換*/
#box_tabs{
    display: flex;
    flex-wrap: wrap;
    width: 790px;
    margin:30px auto;
    padding-top: 30px;
    /* border:1px solid #ccc; */
}
.tabs__label{
    margin-right: 20px;
    padding: 10px 16px;
    /* boder:1px solid #cfc4c5; */
    background:#F4F4F4;
    color:#939da4;
    cursor: pointer;
}
.tabs__radio {
    display: none;
}
.tabs__content {
    display: none;
    order: 1;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.8rem;
}
.tabs__radio:checked + .tabs__label {
    color: #EFDFC5;
    background:#3a4f5f;
}
.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}
.tabs__content{}
.tabs__content h3,
.fruits_container,
.fruits_container li{
    display: inline-block;
}
.tabs__content ul{
    padding: 20px 20px 0;
}
.tabs__content ul ul{
    padding: 0
}
.tabs__content li{
    padding-bottom: 15px;
}
.tabs__content li li{
    padding-bottom: 0;
}
.tabs__content h3{
    font-size:2rem;
    font-weight: 400;
    letter-spacing: 1px;
    width: 120px;
}
.formbtn{
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center}
.formbtn .mybtn{
    display: inline-block;
    text-align: center;
    margin: 20px}

/*檔案類型*/
#box_links ul{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
#box_links li{
    display:block;
    width: 21%;
    background:#ffffff;
    border-radius: 15px;
    min-height:560px;
    box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.07), 0px 18.7963px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 11.1704px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 5.8px 13px rgba(0, 0, 0, 0.035), 0px 2.36296px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 0.537037px 3.14815px rgba(0, 0, 0, 0.0168519);
}
#box_links .link-pic{
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius:15px 15px 0 0;
    background-size: contain;
    background-position: center center;
}
#box_links h3{
    font-family: "Noto Serif TC";
    font-weight:700;
    font-size:2.1rem;
    line-height:3rem;
    color:#3a4f5f;
    letter-spacing: 1px;
    padding: 25px;
    background:url(../images/line_title.svg) no-repeat;
    background-position: 20px 60px
}
#box_links p{
    font-size: 1.7rem;
    line-height: 2.8rem;
    padding: 5px 25px;
    text-align: justify;
}
#box_links p.link-info{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
    word-break: break-all;
}
#box_links .btn_active,
#box_links .btn_notyet{
    margin: 20px auto;
}

/*
=====================================
檔案類型
=====================================
*/
/*側邊搜尋框*/
#box_search,
#box_subnav{
    display: block;
    width: 100%;
    margin-bottom: 35px;
    border: 1px solid #C18E7F;
    border-radius: 15px;
    background: #F4F4F4
}
#box_search h3{
    font-family: "Noto Serif TC";
    font-weight: 700;
    font-size: 2rem;
    line-height: 5rem;
    letter-spacing: 2px;
    text-align: center;
    background: #3a4f5f;
    color:#EFDFC5;
    border-radius: 15px 15px 0 0;
}
#box_search .myinput{
    display: block;
    margin: 20px auto 15px;
    width: 85%;
}
#box_check{
    display: block;
    width: 85%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height:2.8rem
}
#box_check summary{
    cursor:pointer;
}
#box_check ul{
    padding-top: 10px;
}

.subnav-01 li{
    font-size: 1.8rem;
    padding: 20px 15px;
    border-bottom: 1px solid #C18E7F;
}
.subnav-01 li:last-child,
.subnav-02 li:last-child,
.subnav-03 li:last-child{
    border-bottom: none;
}
.subnav-01 a,
.subnav-01 a:visited,
.subnav-02 a,
.subnav-02 a:visited,
.subnav-03 a,
.subnav-03 a:visited,
#right_summary a,
#right_summary a:visited{
    color: #3A4F5F;
    text-decoration: none;
}
.subnav-01 a:hover,
.subnav-02 a:hover,
.subnav-03 a:hover,
#right_summary a:hover{
    color: #713429;
    text-decoration: none;
}

/*整編原則*/
#pagemain h3{
    font-family: "Noto Serif TC";
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color:#3a4f5f;
    text-shadow: 0 0 4px rgb(241, 241, 241);
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(67, 86, 100, .5);
    padding: 0 0 10px;
}
#box_summary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
#box_summary h4{
    font-family: "Noto Serif TC";
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.5rem;
    color:#3a4f5f;
    text-shadow: 0 0 4px rgb(241, 241, 241);
}
#left_summary,
#right_summary{
    display: block;
    width: 48%;
}
#left_summary{
    border-right: 1px solid rgba(67, 86, 100, .5);
}
#left_summary img{
    display: block;
    width: 95%;
    margin: 20px 0;
}
#left_summary p{
    display: block;
    width: 95%;
    padding-bottom: 30px;
    font-size:1.8rem;
    line-height:3.5rem;
    text-align: justify;
}
#right_summary ul{
    display: block;
    margin: 0 0 20px 22px;
}
#right_summary li{
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 10px 0;
    border-bottom: 1px dashed rgba(67, 86, 100, .5);
    list-style-image: url(../images/icon_pot.svg);
}
/* #right_summary li::before{
    content: "";
    display:inline-block;
    width: 9px;
    height: 9px;
    background: url(../images/icon_pot.svg);
    margin-right: 10px;
} */

/*選取輸出按鈕*/
.right_title label{
    font-size: 1.6rem;
    margin-right: 10px;
}