@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Mayfaire International Official website
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2021 xuedesign studio
* @version    v2022-07
*
**/

@media (max-width:1700px) {
    #main-nav{
        margin-right: 4%;
    }
    #container{
        width: 93%;
    }
    %content_flex{
        width: 95%
    }
    .myselect,
    .myinput,
    .mybtn{
        font-size: 1.65rem
    }
    /* .mybtn{
        padding: 5px;
    } */
    /* .bgIndex{
        background: url(../images/bg_index-1.png) no-repeat;
        background-position: 0 30px;
    } */
    #box_links{
        margin-top: 60px;
    }
    .td_time{ width: 16%;}
    .box_media audio{
        bottom: 18%;
        left: 11%;
    }
    #box_shortmain{
        width:80%
    }
    .editinput label{
        min-width: 30%;
    }
    .editinput input{
        min-width: 68%
    }
    #pagemain .pass-view{
        right:50px;
    }
}
@media (max-width:1400px) {
    .box_media audio{
        bottom: 22%;
        left: 11%;
    }
    /* #footer_main{
        width: 98%;
    } */
    .search_index{
        width: 68%;
    }
}
@media (max-width:1300px) {
    #main-nav{
        margin-right: 4.5%;
    }
    .formbtn .mybtn{
        margin: 25px 8px}
    /* #box_tabs{
        width: 800px;
        margin:30px 0 30px 38%;
    } */
    #box_tabs2{
        width: 850px;
    }
    .search_index{
        width: 80%;
        margin: 50px auto 0;
        background: linear-gradient(180.04deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 99.96%);
    }
    /* .formbtn .mybtn:nth-child(1){
        margin: 20px 20px 20px 50px} */
    .td_ftitle{
        width: 22%
    }
    .td_no{
        width: 12%
    }
    .box_media audio{
        bottom: 26%;
        left: 11%;
    }
    #box_shortmain{
        width:85%
    }
}

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#screenblock{
    display: block;
    position:fixed;
    top: 0;
    z-index: 999;
}
.search_index{
    width: 90%;
}

}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
#screenblock p{
    font-size:3rem;
    line-height: 4.5rem
}
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
    #screenblock p{
        font-size:2.5rem;
        line-height: 3.5rem
    }
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
    h1 a{
        width: 250px;
        height: 61px;
        background-size: cover;
        margin-top: 20px;
    }
    #screenblock h3{
        font-size: 3rem;
        letter-spacing:3px;
        margin-top: 15%;
    }
    #screenblock p{
        width: 93%;
        font-size:2rem;
        line-height: 4rem;
        padding: 10px;
    }
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/}