#footer_main

  p.foot-left
    |本網站內容著作權屬中央研究院歷史語言研究所檔案館所有，任何形式之轉載，請與我們連絡
    br
    |館址：台北市南港區 115 研究院路二段 130 號　電話：(02) 2782-9555 　Email:
    a(herf='mailto:archives@mail.ihp.sinica.edu.tw', target='_blank', title='聯絡我們') archives@mail.ihp.sinica.edu.tw

  p.foot-right
    a(herf='https://www1.ihp.sinica.edu.tw/' target="_blank" title="[另開視窗]中央研究院歷史語言研究所") 中央研究院歷史語言研究所
    | |
    a(herf='http://archives.ihp.sinica.edu.tw/' target="_blank" title="[另開視窗]史語所檔案館") 史語所檔案館