h1
  a(href="../index.html" title="回首頁") 史語所檔案館館藏資料庫
nav#main-nav
  ul
    li
      a(href="../index.html" title="回首頁") 首頁
    li
      a(href="#" title="檔案類型") 檔案類型
      ul
        li
          a(href="#" title="史語所行政檔案") 史語所行政檔案
        li
          a(href="#" title="史語所研究員檔案") 史語所研究員檔案
        li
          a(href="../collection/file-summary.html" title="徵集檔案") 徵集檔案
        li
          a(href="#" title="影音檔案") 影音檔案
    li
      a(href="../collection/search.html" title="檔案搜尋") 檔案搜尋
    li
      a
        img(class="icon_user" src="../images/icon_user.svg" alt="user")
      ul
        li
          // 會員註冊名稱
          div.box_llog 網站管理員
            br
            |#[span 已登入]
        li
          a(href="../user/edit-profiles.html" title="編輯會員資料") 編輯會員資料
        li
          a(href="../user/edit-pwd.html" title="修改密碼") 修改密碼
        li
          a(href="../index.html" title="登出系統") 登出系統
      // 未登入狀態
        <ul>
          <li><div class="box_llog">會員可以瀏覽更多館藏細節</div></li>
          <li><a href="../user/signin.html" title="登入會員">登入會員</a></li>
          <li><a href="../user/signup.html" title="註冊會員">註冊會員</a></li>
        </ul>