meta(charset="UTF-8")
//meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
meta(name="viewport" content="width=1300")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="史語所檔案館庋藏所內考古、拓片、善本圖籍、少數民族、內閣大庫檔案等各項典藏的數位化工作，本系統開放大眾查閱瀏覽。")
meta(name="keywords" content="中央研究院, 歷史語言研究所, 檔案館, 數位典藏, 史語所行政檔案, 史語所研究員檔案")
meta(name="Author" content="ARCHIVES,INSTITUTE OF HISTORY AND PHILOLOGY ACADEMIA SINICA")
= '\n'
meta(property="og:title" content="館藏資料庫")
meta(property="og:type" content="website")
meta(property="og:site_name" content="中研院史語所檔案館")
meta(property="og:url" content="https://ihparchives.ihp.sinica.edu.tw")
meta(property="og:image" content="https://ihparchives.ihp.sinica.edu.tw/images/share.jpg")
meta(property="og:description" content="史語所檔案館庋藏所內考古、拓片、善本圖籍、少數民族、內閣大庫檔案等各項典藏的數位化工作，本系統開放大眾查閱瀏覽。")
= '\n'
link(rel="shortcut icon" href="images/favicon.ico")
link(rel="icon" href="images/favicon.ico")
link(rel="apple-touch-icon" href="images/favicon.png")