doctype html
html(lang="zh-Hant")
  head
    include head.pug
    title 館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    #wrap
      header
      = '\n'
      main#container(style="min-height:500px")
      = '\n'
      footer
        // 從頁尾置底開始
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="js/script.js")