doctype html
html(lang="zh-Hant")
  head
    include head.pug
    title 中研院史語所檔案館館藏資料庫
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    #wrap
      header
      = '\n'
      main#container
      = '\n'
      footer
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="script/index.js")