doctype html
html(lang="zh-Hant")
  head
    include head.pug
    title 館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    #wrap
      header
        #hdr-main
          h1
            a(herf="index.html" title="回首頁") 史語所檔案館館藏資料庫
          nav#main-nav
            ul
              li
                a(herf="index.html" title="回首頁") 首頁
              li
                a(herf="#" title="檔案類型") 檔案類型
                ul
                  li
                    a(herf="#" title="史語所行政檔案") 史語所行政檔案
                  li
                    a(herf="#" title="史語所研究員檔案") 史語所研究員檔案
                  li
                    a(herf="file-summary.html" title="徵集檔案") 徵集檔案
                  li
                    a(herf="#" title="影音檔案") 影音檔案
              li
                a(herf="search.html" title="檔案搜尋") 檔案搜尋
              li 會員登入
      = '\n'
      main#container
      = '\n'
    footer
        include foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="js/script.js")