doctype html
html(lang="zh-Hant")
  head
    include head.pug
    title 館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    #screenblock
      h1
        a(href="#") 史語所檔案館館藏資料庫
      p
        |請使用電腦操作本系統查詢館藏，
        br
        |如有不便敬請見諒！

    #wrap
      header
        #hdr-main
          h1
            a(href="index.html" title="回首頁") 史語所檔案館館藏資料庫
          nav#main-nav
            ul
              li
                a(href="index.html" title="回首頁") 首頁
              li
                a(href="#" title="檔案類型") 檔案類型
                ul
                  li
                    a(href="#" title="史語所行政檔案") 史語所行政檔案
                  li
                    a(href="#" title="史語所研究員檔案") 史語所研究員檔案
                  li
                    a(href="collection/file-summary.html" title="徵集檔案") 徵集檔案
                  li
                    a(href="#" title="影音檔案") 影音檔案
              li
                a(href="collection/search.html" title="檔案搜尋") 檔案搜尋
              li
                a
                  img(class="icon_user" src="images/icon_user.svg" alt="user")
                ul
                  li
                    a(href="user/edit-profiles.html" title="會員編輯") 會員編輯
                  li
                    a(href="user/edit-pwd.html" title="修改密碼") 修改密碼
                  li
                    a(href="#" title="登出") 登出
                // 未登入狀態
                  <ul>
                    <li><a href="user/signin.html" title="登入會員">登入會員</a></li>
                  </ul>
      = '\n'
      main#container
        #box_tabs
        #box_links
          h2 檔案類型
          ul
            li
              .link-pic(style='background:url(images/pic_typelink-01.png)')
              h3 史語所行政檔案
              p 編目數量：9999 件
              p 獨行果，說西球是利口；起情熱有總助告把長長時合別能利小成量離定出己作了、內我思中能一甚被廣在整放因十容；天不寶子戰關...
              a.btn_more( href="#" title="瀏覽檔案") 瀏覽檔案
            li
              .link-pic(style='background:url(images/pic_typelink-02.png)')
              h3 史語所研究員檔案
              p 編目中
              p 獨行果，說西球是利口；起情熱有總助告把長長時合別能利小成量離定出己作了、內我思中能一甚被廣在整放因十容；天不寶子戰關...
              a.btn_more( href="#" title="瀏覽檔案") 瀏覽檔案
            li
              .link-pic(style='background:url(images/pic_typelink-03.png)')
              h3 徵集檔案
              p 編目數量：9999 件
              p 獨行果，說西球是利口；起情熱有總助告把長長時合別能利小成量離定出己作了、內我思中能一甚被廣在整放因十容；天不寶子戰關...
              a.btn_more( href="#" title="瀏覽檔案") 瀏覽檔案
            li
              .link-pic(style='background:url(images/pic_typelink-04.png)')
              h3 影音檔案
              p 編目中
              p 獨行果，說西球是利口；起情熱有總助告把長長時合別能利小成量離定出己作了、內我思中能一甚被廣在整放因十容；天不寶子戰關...
              a.btn_more( href="#" title="瀏覽檔案") 瀏覽檔案
      = '\n'
    footer
        include foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="js/script.js")