doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head.pug
    title 新設會員帳號權限說明-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page-notyet.pug
      = '\n'

      main#container
        #box_short
          #box_shortmain
            #short_left.bg_tree
              h3 新設會員帳號權限說明
              p Account privileges explanation for new members
            #short_right
              .main_info
                p 申請會員前須知事項，請先閱讀：
                  span.text_en
                    |Before applying for membership, please read the following important information.
                ul
                  li 未登錄會員帳號者，僅能搜尋資料庫已開放目錄，瀏覽題名。欲進一步瀏覽詳目訊息，請註冊會員並登錄帳號。
                    span.text_en
                     |Non-registered users can only search the open catalog of the database and browse title information. To view detailed information and further browse, please register as a member and log in.
                  li 本資料庫以個人電子郵件信箱為會員帳號，若密碼遺失，請自行重新設定。
                    span.text_en
                      |This database uses the personal email address as the member account. If you forget your password, please reset it by yourself.
                  li 本資料庫會員效期以三年為限，到期後請申請延長或重新申請。
                    span.text_en
                      |The membership of this database is valid for three years. Please apply for an extension or reapply after expiration.
                  li 若有任何申請會員上的疑慮，請隨時與我們聯繫：
                    span.text_en
                      |For any questions or concerns, please contact us at any time：
                      a(href="mailto:archives@mail.ihp.sinica.edu.tw") archives@mail.ihp.sinica.edu.tw
                p 同意上述規範，請按「同意」進入申請會員設定。
                  span.text_en
                    |Agree to the above regulations and press "Agree" to proceed to the next step.
              a.mybtn.btn-l.btn_active(href="signup.html") 同意 Yes, I Agree
    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")