doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 編輯會員資料-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    include ../_template/screenblock.pug

    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page.pug
      = '\n'

      main#container-page
        #bar_title
          .left_title
            h2 會員設定
        = '\n'

        aside#aside
          #box_subnav.subnav-01
              ul
                //切換到該類別，增加.nowin
                li
                  a.nowin(href='../user/edit-profiles.html', title='編輯會員資料') 編輯會員資料
                li
                  a(href='../user/edit-pwd.html', title='修改密碼') 修改密碼
          = '\n'

        section#pagemain
          h3 編輯會員資料
          .main_info
            form(action='#', method='post')
              .editinput
                label(for="email") 帳號
                  br
                  |#[span Email]
                input#email(type="email" value="archives@mail.ihp.sinica.edu.tw")
              .editinput
                label(for="name") 姓名
                  br
                  |#[span Name]
                input#name(type="email" value="網站管理員")
              .editinput
                label(for="phone") 電話
                  br
                  |#[span Phone Number]
                input#phone(type="phone" value="(02) 2782-9555")
              .editinput
                label(for="unit") 所屬單位
                  br
                  |#[span Unit]
                input#unit(type="text" value="檔案館")
              .editinput
                label(for="title") 職稱
                  br
                  |#[span Title]
                input#title(type="text" value="約聘助理")
            = '\n'
            input.mybtn.btn_send.btn-l(type='button', value='儲存修改')

    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")