doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 重設密碼-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page.pug
      = '\n'

      main#container
        #box_short
          #box_shortmain
            #short_left.bg_tree
              h3 重設密碼
              p Reset Passwords
            #short_right
              .main_info
                form(action='#', method='post')
                  .textinput.pwd-set
                    input#newpassword.pass(type="password" value="" placeholder="請輸入新密碼")
                    label(for="newpassword") 新密碼#[span New Passwords]
                    .pass-view
                      i.fa-regular.fa-eye-slash
                      i.fa-regular.fa-eye(style="display: none;")
                    .pwd-rule 請設定 6 碼以上之密碼。
                      span.text_en
                        |Passwords are longer than 6 characters.
                  .textinput
                    input#confirmpassword.pass(type="password"  value="" placeholder="請再次輸入密碼")
                    label(for="confirmpassword") 確認新密碼#[span Confirm New Passwords]
                    .pass-view
                      i.fa-regular.fa-eye-slash
                      i.fa-regular.fa-eye(style="display: none;")
                = '\n'
                input.mybtn.btn_send.btn-l(type='button', value='儲存 Save', onclick="location.href='../user/signin.html'")
    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")