doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 申請會員-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page-notyet.pug
      = '\n'

      main#container
        #box_short
          #box_shortmain
            #short_left.bg_tree
              h3 申請會員
              p Sign Up
            #short_right
              .main_info
                h4.text_center.mg-bottom.bod-bottom 申請完成！
                  span.text_en2(style="padding-top:15px")
                    | Application Has Been Completed Successfully
                p.text_center
                  |會員認證信己寄出，請至 xxxx@gmail.com 信箱中確認。
                  br
                  |若沒收到認證信，請再與網站管理員聯絡
                  span.text_en2
                    |An account verification has been sent to your login account email. Please confirm at xxxx@gmail.com.
                    br
                    |If you have not received an account verification, please contact the website administrator.
                = '\n'
                input.mybtn.btn_send.btn-xl(type='button', value='返回首頁 Back Home', onclick="location.href='../index.html'")
    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")