doctype html
html(lang="zh-Hant-TW")
  head
    include ../_template/head-page.pug
    title 會員登入-館藏資料庫|中央研院歷史語言研究所檔案館
    link(rel="stylesheet" href="../css/xueMain.css")
  = '\n'

  body
    #wrap
      header.nav-down
        #hdr-main
          include ../_template/hdr-page-notyet.pug
      = '\n'

      main#container
        #box_short
          #box_shortmain
            #short_left.bg_tree
              h3 會員登入
              p Sign In
            #short_right
              .main_info
                p.text_center 請先登入會員，再繼續查閱瀏覽藏品詳目與數位影像。
                  span.text_en2
                    |  Please log in to your account to browse the collections catalogue and digital images.
                p.text_center 還不是會員？立即
                  a(href="account-privileges.html" title="申請會員") 申請會員
                  span.text_en2
                    | Don’t have an account? Apply for one  
                    a(href="account-privileges.html" title="Apply for one account") here.
                = '\n'
                form(action='#', method='post')
                  .textinput
                    input#name(type="email" value="" placeholder="請輸入已註冊的Email")
                    label(for="name") 帳號#[span Email]
                  .textinput
                    input#password.pass(type="password" value="" placeholder="請輸入密碼")
                    label(for="password") 密碼#[span Password]
                    .pass-view
                      i.fa-regular.fa-eye-slash
                      i.fa-regular.fa-eye(style="display: none;")
                  .textinput
                    input(type='hidden', name='_token', value='f5aAayUsB7uJzk8lcxrOF1W1Jvv8es7g6Dq52pf4')
                    input#captcha(type="text", name="captcha" placeholder="請輸入下方顯示的驗證碼")
                    label(for="captcha") 驗證碼#[span Captcha]
                  .textinput-captcha
                    img(src='https://ihparchives.ihp.sinica.edu.tw/captcha/default?uSAPAGx4')
                = '\n'
                p.text_right
                 a(href="forget-pwd.html" title="忘記密碼") 忘記密碼?
                 br
                 a(href="forget-pwd.html" title="Forgot your password?" style="font-size:1.5rem") Forgot your password?
                = '\n'
                input.mybtn.btn_send.btn-l(type='button', value='登入 Sign In', onclick="location.href='../collection/file-details.html'")
    = '\n'
    footer
        include ../_template/foot.pug
  = '\n'

  //- script區塊
  script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
  script(src="../js/script.js")